<div class="grid grid-pad" *ngIf="(config && config.cardItems)">
  <h4>{{config.title}}</h4>
  <a *ngFor="let item of config.cardItems" class="col-1-4">
    <div class="module card col-1-4">
      <h4>{{item.title}}</h4>
    </div>
  </a>
</div>