<div class="grid grid-pad" *ngIf="items">
  <div *ngFor="let item of items" class="col-md-3 col-xs-6 pull-left">
	<h4>{{item.title}}</h4>
    <p>
    	<img src="{{item.image}}" *ngIf="item.image" >
    	{{item.blurb}}
    </p>
  </div>
</div>