<div class="grid grid-pad view-container" *ngIf="(config && config.content)">
  <div *ngFor="let item of config.content" class="card col-md-3 col-xs-6 bg-default pull-left">
	<p class="card-header">{{item.title}}</p>
    <p class="card-body">
    	<span class="image-container">
    		<img src="{{item.image}}" *ngIf="item.image" >
    	</span>
    	{{item.blurb}}
    </p>
    <span *ngIf="(item.link)" class="card-footer"><a href="{{item.link}}">{{item.title}}</a></span>
  </div>
</div> 