h4, .title, .card-header {
	color: #990000;
}
.view-container{
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}
.card {
	height: auto;
	padding: 0em;
	max-width:24%;
	min-height: calc(30vh);
	margin: 0.3em;
	display: flex;
	.card-header {
		padding: 0.3em 1em;
		font-size: 1.3em;
		font-weight: 300;
		text-shadow: 1px 1px 2px gray;
		text-decoration: underline;
	}
	.card-body {
		background: linear-gradient(#EFEFEF, white, transparent);
		.image-container{
			width: 100%;
			overflow:hidden;
			img {
				max-width: 100%;
			}
		}
	}
	.card-footer {
		font-size: 1.3em;
		display: none;
	}
}
