<div class="container-fluid" *ngIf="(config && config.content)">
  <div *ngFor="let item of config.content" class="col-lg-6 pull-left">
	<p class="card-header">{{item.title}}</p>
    <p class="card-body">
    	<span class="image-container">
    		<img src="{{item.image}}" *ngIf="item.image" >
    	</span>
    	{{item.blurb}}
    </p>
    <!-- <span class="card-footer"></span> -->
  </div>
</div> 