<div class="grid grid-pad container-fluid" *ngIf="(config && config.content)">
  <div *ngFor="let item of config.content" class="card">
	<h3 class="card-header">{{item.title}}</h3>
    <p class="card-body">
    	<span class="image-container">
    		<img src="{{item.image}}" *ngIf="item.image" >
    	</span>
    	{{item.blurb}}
    </p>
    <span *ngIf="(item.link)" class="card-footer"><a href="{{item.link}}">{{item.title}}</a></span>
  </div>
</div> 