.card-header {
	color: #990000;
}
.card {
	height: 25em;
	padding: 0em;
	overflow: hidden;
	.card-header {
		padding: 0.3em 1em;
		font-size: 1.3em;
		font-weight: 300;
		text-shadow: 1px 1px 2px gray;
		text-decoration: underline;
	}
	.card-body {
		.image-container{
			width: 100%;
			overflow:hidden;
			img {
				max-width: 100%;
			}
		}
	}
	.card-footer {
		font-size: 1.3em;
		display: none;
	}
}
