body{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: calc(100vh);
}
*.h4 {
	color: #990000;
}
.page-content {
	display: block;
	width: auto;
	height: calc(100vh);
	margin: 0 auto;
	max-width: 130em;
	min-width: 60em;
}