<!--The content below is only a placeholder for appRoot tag-->
<div class="page-content">
  <div *ngIf="loading">Loading...</div>
    <header>
      <!-- Fixed navbar -->
  	  <app-home (config)="vm.viewConfig">Loading...</app-home>
    </header>

    <!-- Begin page content -->
    <main role="main" class="view container container-fluid">      
	  <router-outlet (activate)='onActivate($event)'
	  (deactivate)='onDeactivate($event)'></router-outlet>
    </main>
    <footer class="footer">
      <div class="container container-fluid">
        <span class="text-muted">
            <!-- <app-si-sticky-footer></app-si-sticky-footer> -->
        </span>
      </div>
    </footer>
</div>
