<div class="grid grid-pad container-fluid" *ngIf="(config && config.content)">
  <div *ngFor="let item of config.content" class="card col-md-3 col-xs-6 bg-light pull-left">
	<p class="card-header">{{item.title}}</p>
    <p class="card-body">
    	<span class="image-container">
    		<img src="{{item.image}}" *ngIf="item.image" >
    	</span>
    	{{item.blurb}}
    </p>
    <!-- <span class="card-footer"></span> -->
  </div>
</div> 
<router-outlet></router-outlet>