.rotator{
	background: linear-gradient(to left, #EFEFEF 5%, transparent 80%, #EFEFEF);
	border: 0;
	width: 100%;
	height: 15em;

	margin: 0em 0em 1em 0em;
	padding: 0em 0em 0em 0em;
	.image-bg{
		position: absolute;
		opacity: 0.75;
		transition: 1s fade 2s 1 both ;
		border-radius: 0.5em;
		border: 1px solid #eeefff;
		padding: 0em;
		overflow: hidden;
		height: 15em;
		width: calc(100% - 2em);
		margin: 0 auto;
		vertical-align: text-bottom;
		text-align: center;
		z-index: -1;
		img {
			width: auto;
			height: 100%;
		}
	}
	.title{	
		top: 2em;
		right: 2em;
		margin-left: 1em;
	    font-size: 2.4em;
		text-shadow: 3px 3px 2px #777;
	    font-weight: 400;
		color: #990000;
	}
	.lede {
	    margin: 0em 20em 0em 4em;
	    right: 1em;
	    top: 3em;
	    font-size: 1.1em;
	    font-weight: 400;
	    text-shadow: 2px 2px 3px #777;
	    color: #111;
	}
}