<div class="rotator" *ngIf="config && currentRoute" >
	<div class="container-fluid">
		<div *ngFor="let item of config[currentRoute].cardItems">
			<span *ngIf="item && item.active">	
				<div class="image-bg" ><img src="{{item.image}}"></div>
				<h1 class="display-4 title">{{item.title}}</h1>
				<p class="display-6 lede">{{item.lede}}</p>
			</span>
		</div>
	</div>
</div>
