<nav class="row-fluid nav navbar-fixed-top navbar-expand-lg bg-safeway navbar-light">
  <div class="container-fluid" *ngIf="navBar">
      <div class="nav navbar-nav navbar-btn btn-group" role="navbar">
        <div class="navbar-header  safewayassoc-logo">
            <a class="navbar-brand navbar-logo">
              <img (src)="navBar.logo" class="logo" />
              <span class="navbar-brand sr-only">Safeway Associates</span>
            </a>
        </div>
        <div class="nav-item btn btn-toolbar" *ngFor="let item of navBar.items" >
          <div [ngSwitch]="!item.children">
            <a *ngSwitchCase="true" class="btn nav-link btn-toolbar " (click)="selectedNavItem = item; selectedNavChange(item);" routerLink="{{item.link}}" routerLinkActive="active">{{item.title}}
            </a>
            <div *ngSwitchCase="false" dropdown class="btn-group" role="group">
                <a (id)="item.link" (mouseenter)="dropDownOver=true" class="btn nav-link dropdown-toggle btn-toolbar" (click)="selectedNavItem = item; selectedNavChange(item);" routerLink="{{item.link}}" routerLinkActive="active" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false" >{{item.title}}</a>
                <div *ngIf="dropDownOver==true" class="dropdown-menu" (aria-labelledby)="item.link"  (mouseleave)="dropDownOver=false" >
                  <a *ngFor="let child of item.children" (click)="selectedNavItem = child; selectedNavChange(child);" routerLink="{{child.link}}" routerLinkActive="active" class="dropdown-item" >{{child.title}}</a>
                  <div *ngIf="(child && child.children)">
                    <a *ngFor="let grandchild of child.children" routerLink="{{child.link}}" routerLinkActive="active" class="dropdown-item" >{{child.title}}</a>
                  </div>
                </div>
            </div>
          </div>
	      </div>
      </div>
    </div>
</nav>
<app-title class="nav-item btn btn-toolbar" title="{{pageTitle}}" ></app-title>
<app-rotator config="{{viewConfig}}"  title="{{pageTitle}}" ></app-rotator>
<router-outlet></router-outlet>
<content-block content="{{viewConfig}}" *ngIf="viewConfig && viewConfig.content"></content-block>