.bg-safeway {
	background-color: white !important;
}
.safewayassoc-logo{
	display: inline;
	width: 12em;
	height: 5.5em;
	overflow: hidden;
	background: url(/assets/Safeway-Logo.png);
}
.dropdown-menu {
	display: none;
	.open {
		display:block;
	}
}